/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Styling the form container */
form {
    background-color: #ffffff; /* White background for the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px; /* Space inside the form */
    width: 300px; /* Fixed width */
    margin-top: 15px;
}


h1{
    margin-top: 80px;
}
/* Heading style */
h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px auto;
    text-align: center; /* Center the heading */
    color: #333; /* Dark gray color */
}

/* Label style */
label {
    display: block; /* Labels on a new line */
    margin-bottom: 5px; /* Space between label and input */
    color: #555; /* Medium gray color */
}

/* Input field styling */
input {
    width: 100%; /* Full width inputs */
    padding: 10px; /* Space inside the input */
    margin-bottom: 15px; /* Space between inputs */
    
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Font size */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Change border color on focus */
input[type="text"]:focus,
input[type="password"]:focus,
input [type= "email"]:focus  {
    border-color: #007bff; /* Blue border on focus */
    outline: none; /* Remove outline */
}

/* Submit button style */
input[type="submit"] {
    width: 100%; /* Full width button */
    padding: 10px; /* Space inside the button */
    background-color: black; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor */
}

/* Change button color on hover */
input[type="submit"]:hover {
    background-color: darkgrey; /* Darker blue on hover */
}

.error{
    color: red;
}
a{
    text-decoration: none;
    color: rgb(102, 94, 94);
}
@media (max-width: 768px) {}
    
