/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

/*------------------------------- Basis Styles -------------------------------*/

.header-search {
    padding: 15px 0px;
}

.menu-area-main {
    height: auto;
    overflow-y: auto;
}

.cart-box, .wish-box {
    margin: 0px 15px;
}

.input_bt {
    width: 100%;
}

/*------------------------------- Media Queries -------------------------------*/

/* 1200px x 992px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-search {
        padding: 20px 0px;
    }
    .cart-box, .wish-box {
        margin: 0px 20px;
    }
    .input_bt {
        width: 90%;
    }
}

/* 991px x 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
    .cart-box, .wish-box {
        margin: 0px 15px;
    }
    .input_bt {
        width: 95%;
    }
    .banner_bg_main {
        background-size: 100% 100%;
    }
    .dropdown {
        display: none;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 320px;
    }
    .banner_taital {
        font-size: 50px;
    }
    #main_slider a.carousel-control-next,
    #main_slider a.carousel-control-prev,
    #electronic_main_slider a.carousel-control-next,
    #electronic_main_slider a.carousel-control-prev,
    #jewellery_main_slider a.carousel-control-next,
    #jewellery_main_slider a.carousel-control-prev {
        top: 110%;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 190px;
    }
    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }
}

/* 767px x 599px */
@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat,
    .menu-area-main .megamenu .women-cat,
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box,
    .menu-add,
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
    .cart-box, .wish-box {
        margin: 0px 10px;
    }
}

/* 599px x 280px */
@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat,
    .menu-area-main .megamenu .women-cat,
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
    .header-search {
        padding: 5px 0px;
    }
    .cart-box, .wish-box {
        margin: 0px 5px;
    }
}

/* 992px x 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .banner_bg_main {
        background-size: 100% 100%;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 360px;
    }
    #main_slider a.carousel-control-next,
    #main_slider a.carousel-control-prev,
    #electronic_main_slider a.carousel-control-next,
    #electronic_main_slider a.carousel-control-prev,
    #jewellery_main_slider a.carousel-control-next,
    #jewellery_main_slider a.carousel-control-prev {
        top: 110%;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 280px;
    }
    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }
    .input_bt {
        width: 80%;
    }
}

/* 576px x 767px */
@media (min-width: 576px) and (max-width: 767px) {
    .banner_bg_main {
        background-size: 100% 100%;
    }
    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }
    .nav-link {
        padding: .4rem 0px;
        color: #fff;
    }
    .lang_box {
        background-color: transparent;
    }
    .banner_taital {
        font-size: 40px;
    }
    #my_slider a.carousel-control-prev,
    #my_slider a.carousel-control-next {
        top: -10px;
    }
    .fashion_taital {
        font-size: 24px;
    }
    .fashion_section {
        padding-bottom: 100px;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 145px;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 246px;
    }
    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }
    .shirt_text,
    .price_text {
        font-size: 14px;
    }
    .buy_bt a,
    .seemore_bt a {
        font-size: 12px;
    }
    .box_main {
        padding: 20px 10px;
    }
    #jewellery_main_slider a.carousel-control-prev,
    #jewellery_main_slider a.carousel-control-next,
    #main_slider a.carousel-control-prev,
    #main_slider a.carousel-control-next,
    #electronic_main_slider a.carousel-control-prev,
    #electronic_main_slider a.carousel-control-next {
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }
    .location_main {
        padding: 30px 0px 30px 0px;
    }
}

/* max-width: 575px */
@media (max-width: 575px) {
    .banner_bg_main {
        background-size: cover;
    }
    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }
    .nav-link {
        padding: .4rem 0px;
        color: #fff;
    }
    .lang_box {
        background-color: transparent;
    }
    .banner_taital {
        font-size: 24px;
    }
    #my_slider a.carousel-control-prev,
    #my_slider a.carousel-control-next {
        top: -10px;
    }
    .fashion_taital {
        font-size: 24px;
    }
    .fashion_section {
        padding-bottom: 100px;
    }
    .electronic_img,
    .tshirt_img,
    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }
    #jewellery_main_slider a.carousel-control-prev,
    #jewellery_main_slider a.carousel-control-next,
    #main_slider a.carousel-control-prev,
    #main_slider a.carousel-control-next,
    #electronic_main_slider a.carousel-control-prev,
    #electronic_main_slider a.carousel-control-next {
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }
    .location_main {
        padding: 30px 0px 30px 0px;
    }
    .header-search {
        padding: 5px 0px;
    }
    .cart-box, .wish-box {
        margin: 0px 5px;
    }
}